#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.tw-followCard{
  display: flex;
  align-items: center;
  color: #0d0c0c;
  font-size: .8rem;
  justify-content: space-between;
}

.tw-followCard-header{
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-infoUserName{
  opacity: .6;
}

.tw-followCard-avatar{
  width: 48px;
  height: 48px;
  border-radius: 100px;
}
.tw-followCard-info{
  display: flex;
  flex-direction: column;
}
.tw-followCard-button {
  margin-left: 16px;
  border: 0;
  border-radius: 100px;
  padding: 6px 16px;
  font-weight: bold;
}
.tw-followCard-button:hover{
  opacity: .9;
} 
.tw-followCard-button.is--following{
  border: 1px solid rgba(143, 143, 143, 0.176);
  background:transparent;
  color: #322e2e;
  width: 140px;
}
.tw-followCard-button.is--following:hover{
  background: #6e6d6d;
  color: rgb(181, 55, 55);
  border: 1px solid red;
}
.tw-followCard-button.is--following:hover .tw-followCard-stopFollow{
  display: block;
}
.tw-followCard-stopFollow{
  display: none;
}
.tw-followCard-text{
  display: block;
}
.tw-followCard-button.is--following:hover .tw-followCard-text{
  display: none;
}